body {
    padding-top: 10px;
    padding-bottom: 20px;
}
      
.hero-unit h1{
    margin-bottom:10px;
}

.hero-unit select, 
.hero-unit input{
    display:block;
}

.hero-unit input[type=submit]{
    padding:5px 10px;
}

.friend{
    position:relative;
    border-radius:10px;
    -webkit-border-radius:10px;
    padding:10px;
    background:#f4f4f4;
    width: 320px;
    margin: 5px;
    float:left;
}

.friend.selected{
    background:#dcdcdc;
    width:670px;
}

.friend p{
    position: absolute;
    top: 20px;
    left: 90px;
}

.friend img{
    margin-left: 20px;
}

.friend_select{
    position: absolute;
    left: 10px;
    top: 25px;
}
.clear{
    clear:both;
}

.phone_div{
    position: absolute;
    top: 22px;
    right: 20px;
}
.phone_div label,
.phone_div input{
    display:block;
    float:left;
}

.phone_div label{
    line-height: 30px;
    margin-right: 10px;
}